#text {
    background-color: lightblue;
    background-image: url(../images/sun.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body.flower {
    background: lightgreen url(../images/flower.png) repeat-x top center local;
}

.em-applied {
    font-size: 1.2em;
}

.em-applied em {
    font-weight: bold;
}

.px-applied {
    font-size: 30px;
}

.pt-applied {
    font-size: 30pt;
}

.percent-applied {
    font-size: 70%;
}

p.weight {
    font-weight: 1000;
}

p.style {
    font-style: italic;
}

p.variant {
    font-variant: small-caps;
}

p.size {
    font-size: x-large;
}

p.height {
    line-height: 2.5;
}

p.family {
    font-family: cursive;
}

form.box > div {
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 20px;
    border-width: thick;
    border-style: groove;
    border-color: black;
}

#text > article:first-of-type > p:last-of-type {
    color: green;
}

#text > article:first-of-type > p:nth-child(5) {
    color: darkred;
}

#text > article:first-of-type > p:nth-last-child(3) {
    color: darkviolet;
}

#text > article:first-of-type > :not(p) {
    color: blue;
}

#text > header > h1:only-child {
    color: red;
}

#curabitur:target {
    color: orangered;
}

a {
    text-decoration: none;
}

a:link {
    color: brown;
}

ul.reference-list > li:first-child {
    color: violet;
}

ul.reference-list > li:last-child {
    color: orange;
}

a:hover {
    color: green;
}

a:active {
    color: red;
}

a:visited {
    color: orange;
}

input:empty {
    color: green;
    background-color: lightgreen;
}

input:disabled {
    color: red;
    background-color: pink;
}

input:required {
    color: blue;
    background-color: lightblue;
}

input:focus {
    color: brown;
    background-color: orange;
}

div.actions > input:enabled {
    color: magenta;
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 4px red;
}

/* Unsupported by firefox */
@page :first {
    margin-left: 200px;
    margin-right: 200px;
}



nav.drop-down-menu {
    text-align: center;
    width: 100px;
    border: 1px solid black;
}

nav.drop-down-menu ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.drop-down-menu:hover > ul {
    display: block;
}

nav.drop-down-menu > ul > li:hover > ul {
    display: inline-block;
}

nav.drop-down-menu li {
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 100px;
}

nav.drop-down-menu li:hover {
    background-color: lightgreen;
}

nav.drop-down-menu > ul > li:hover > ul {
    position: absolute;
    float: right;
    left: 110px
}

table.owl-table, table.owl-table th, table.owl-table td {
    border: 5px solid black;
    border-collapse: collapse;
}

table.owl-table {
    position: static;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 1170px;
}

div.omnipresent-sun {
    position: fixed;
    right: 0px;
    top: 0px;
}

div.fallen-owl {
    position: absolute;
    bottom: 3px;
    left: 3px;
}

div.sunny-companion {
    float: left;
}

#flowery-companion {
    position: relative;
    top: 60px;
    left: 500px;
}

div.flowery {
    clear: left;
}

/* Lab5 */
#bordered > .shadow {
    background-color: hsla(250, 100%,80%,1);
    box-shadow: 10px 10px 5px darkblue;
}

#bordered > .shadow h2 {
    text-shadow : 5px 5px 2px forestgreen;
}

#bordered > .radius {
    border-radius: 15px;
    background-color: rgba(85, 255, 85, 0.2);
}

#bordered > .gradient {
    padding: 50px 200px;
    background: radial-gradient(lightblue, lightgreen, lightyellow);
}

#bordered > div, #fixed-columns {
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#bordered > .rainbow {
    background: linear-gradient(90deg,red, orange, yellow, green, blue);
}

.flexible {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    justify-content: space-around;
    height: 50px;
}

.flexible > div {
    transition: 1s ease-out;
    background-color: white;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
}

.flexible > div:hover {
    background-color:blue;
    color: white;
    height: 70px;
}

#columns > article {
    padding: 10px;
}

#fixed-columns {
    margin-top: 100px;
    column-count: 4;
    column-gap: 40px;
    column-rule: 4px double blue;
    padding: 10px;
}

.lorem, .ipsum {
    background-image: url(../images/flower.png);
    background-position: center;
    background-origin: content-box;
    background-repeat: repeat;

    text-align: center;
    margin-left: auto;
    margin-right: auto;

    border-color: transparent;
    border-style: solid;
    border-width: 30px;
    width: 234px;
    padding: 40px 40px;

    border-image-source: url(../images/border.png);
}

.lorem {
    border-image-slice: 68;
    border-image-repeat: repeat;
}

.ipsum {
    border-image-slice: 70;
    border-image-repeat: stretch;
}

#flower-path {
    width: 50px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#flower {
    position: relative;
    /* -webkit-animation: movingImage, linear 4s 1s infinite alternate; */
    /* -moz-animation: movingImage linear 4s 1s infinite alternate; */
    animation: movingImage linear 4s infinite 1s alternate;
}

/* @-webkit-keyframes movingImage {
    0%   {opacity: 1; left: 50px; top: 0px}
    25%  {opacity: 0.75; left: 0px; top: 0px}
    50%  {opacity: 0.5; left: 25px; top: 50px}
    75%  {opacity: 0.25; left: 0px; top: 100px}
    100% {opacity: 0; left: 50px; top: 100px;}
}

@-moz-keyframes movingImage {
    0%   {opacity: 1; left: 50px; top: 0px}
    25%  {opacity: 0.75; left: 0px; top: 0px}
    50%  {opacity: 0.5; left: 25px; top: 50px}
    75%  {opacity: 0.25; left: 0px; top: 100px}
    100% {opacity: 0; left: 50px; top: 100px;}
} */

@keyframes movingImage {
    0%   {opacity: 1; left: 50px; top: 0px}
    25%  {opacity: 0.75; left: 0px; top: 0px}
    50%  {opacity: 0.5; left: 25px; top: 50px}
    75%  {opacity: 0.25; left: 0px; top: 100px}
    100% {opacity: 0; left: 50px; top: 100px;}
}

#sun-path {
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 190px;
    height: 110px;
}

#sun-path > img {
    position: absolute;
    /* -webkit-transition: -webkit-transform 10s, -webkit-opacity 10s ease-in-out;
    -moz-transition: -moz-transform 10s, -moz-opacity 10s ease-in-out;
    -o-transition: -o-transform 10s, -o-opacity 10s ease-in-out; */
    transition: transform 10s, opacity 10s ease-in-out;
}

#sun-path:hover > #owl {
    opacity: 0;
}

#sun-path:hover > img {
    /* -webkit-transform: translate(100px, 20px) rotate(360deg) skewY(68deg);
    -moz-transform: translate(100px, 20px) rotate(360deg) skewY(68deg);
    -o-transform: translate(100px, 20px) rotate(360deg) skewY(68deg); */
    transform: translate(100px, 20px) rotate(360deg) skewY(68deg);
}

#sun-blur {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

#sun-blur > img {
    transition: 1s filter linear;
}

#sun-blur > img:hover {
    filter: blur(5px);
}

#int-veh {
    font-family: 'Dancing Script', cursive;
}

/* latin-ext */
@font-face {
    font-family: 'Ceviche One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cevicheone/v11/gyB4hws1IcA6JzR-GB_JX5zUbYrpVQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Ceviche One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cevicheone/v11/gyB4hws1IcA6JzR-GB_JX5zabYo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#ves-bla {
    font-family: 'Ceviche One';
}

@media screen and (max-width: 500px) {
    #flexible-columns {
        /* -webkit-column-count: 1;
        -moz-column-count: 1;
        -moz-column-count: 1; */
        column-count: 1;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
    #flexible-columns {
        /* -webkit-column-count: 2;
        -moz-column-count: 2;
        -moz-column-count: 2; */
        column-count: 2;
    
        /* -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        -moz-column-gap: 30px; */
        column-gap: 30px;
        
        /* -webkit-column-rule: 1px outset black;
        -moz-column-rule: 1px outset black;
        -o-column-rule: 1px outset black; */
        column-rule: 1px outset black;
    }
}

@media only screen and (min-width: 1025px) {
    #flexible-columns {
        /* -webkit-column-count: 3;
        -moz-column-count: 3;
        -moz-column-count: 3; */
        column-count: 3;
    
        /* -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        -moz-column-gap: 30px; */
        column-gap: 30px;
        
        /* -webkit-column-rule: 1px outset black;
        -moz-column-rule: 1px outset black;
        -o-column-rule: 1px outset black; */
        column-rule: 1px outset black;
    }
}

@media print {
    body {
        background-color: white;
        color: black;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    /* Unsupported by firefox */
    @page :first {
        margin-left: 200px;
        margin-right: 200px;
    }
    input[type="checkbox"]:checked {
        box-shadow: 0 0 0 4px black;
    }
}