#gameBox {
    position: relative;
    height: 200px;
    width: 400px;
    background-color: lightgray;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}

#gameBox > div {
    position: absolute;
    height: 45px;
    width: 45px;
    border-style: solid;
    border-width: thin;
    border-color: red;
}

#bonusPointsForm {
    position: relative;
}

#yellow {
    background-color: yellow;
}

#pink {
    background-color: pink;
}

#green {
    background-color: green;
}

#magenta {
    background-color: magenta;
}

#orange {
    background-color: orange;
}