.pink-mode{
    border: dotted deeppink 10px;
    background-color:rgba(250,100,100,0.2);
    margin: 10px;
    padding: 10px;
}
.pink-mode a{
    color: deeppink;
    font-weight: bold;
}
.pink-mode nav{
    background-color: white;
    padding: 20px;
}
.dark-mode{
    border: solid rgb(95, 107, 130) 20px;
    background-color: rgb(0, 32, 75);
    margin: 40px;
    padding: 40px;
    color: white;
}
.dark-mode h2{
    background-color: yellow;
    color: black;
}
.dark-mode h3{
    color: yellow;
}
.dark-mode a{
    background-color: #b7d9db;
    padding: 0 10px;
}
.white-mode{
    border: solid rgb(95, 107, 130) 20px;
    margin: 30px;
    padding: 50px;
}
.white-mode nav{
    border:solid gray 10px;
    width: 50%;
    margin: 40px 20px;
    background-color: rgb(234, 234, 234);
}
.green-mode{
    background-color: rgba(238, 255, 231, 0.78);
    border: dashed darkgreen 20px;
    margin: 40px;
    padding: 40px;
}
.green-mode a{
    color: green;
    padding: 0 10px;
    font-weight: bold;
}
.blue-mode{
    background-color: rgb(214, 244, 255);
    border: double darkblue 20px;
    margin: 20px;
    padding: 40px;
}
.blue-mode nav{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: solid black 1px;
    width: 50%;
}
.register-label{
    margin: 10px;
}

