@media all {
    body.sun {
        background-color: lightblue;

        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    
    .em-applied {
        font-size: 1.2em;
    }
    
    .em-applied em {
        font-weight: bold;
    }
    
    .px-applied {
        font-size: 30px;
    }
    
    .pt-applied {
        font-size: 30pt;
    }
    
    .percent-applied {
        font-size: 70%;
    }
    
    p.weight {
        font-weight: 1000;
    }
    
    p.style {
        font-style: italic;
    }
    
    p.variant {
        font-variant: small-caps;
    }
    
    p.size {
        font-size: x-large;
    }
    
    p.height {
        line-height: 2.5;
    }
    
    p.family {
        font-family: cursive;
    }
    
    form.box > div {
        margin: 20px;
        padding: 20px;
        width: 300px;
        height: 20px;
        border-width: thick;
        border-style: groove;
        border-color: black;
    }
    
    body.sun p:last-of-type {
        color: green;
    }
    
    body.sun p:nth-child(5) {
        color: darkred;
    }
    
    body.sun p:nth-last-child(3) {
        color: darkviolet;
    }
    
    body.sun > article > :not(p) {
        color: blue;
    }
    
    body.sun > header > h1:only-child {
        color: red;
    }
    
    #curabitur:target {
        color: orangered;
    }
    
    a {
        text-decoration: none;
    }
    
    a:link {
        color: brown;
    }
    
    ul.reference-list > li:first-child {
        color: violet;
    }
    
    ul.reference-list > li:last-child {
        color: orange;
    }
    
    a:hover {
        color: green;
    }
    
    a:active {
        color: red;
    }
    
    a:visited {
        color: orange;
    }
    
    input:empty {
        color: green;
        background-color: lightgreen;
    }
    
    input:disabled {
        color: red;
        background-color: pink;
    }
    
    input:required {
        color: blue;
        background-color: lightblue;
    }
    
    input:focus {
        color: brown;
        background-color: orange;
    }
    
    div.actions > input:enabled {
        color: magenta;
    }
    
    input[type="checkbox"]:checked {
        box-shadow: 0 0 0 4px red;
    }
    
    /* Unsupported by firefox */
    @page :first {
        margin-left: 200px;
        margin-right: 200px;
    }



    
    nav.drop-down-menu {
        text-align: center;
        width: 100px;
        border: 1px solid black;
    }
    
    nav.drop-down-menu ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav.drop-down-menu:hover > ul {
        display: block;
    }
    
    nav.drop-down-menu > ul > li:hover > ul {
        display: inline-block;
    }
    
    nav.drop-down-menu li {
        text-decoration: none;
        background-color: white;
        border: 1px solid black;
        color: black;
        width: 100px;
    }
    
    nav.drop-down-menu li:hover {
        background-color: lightgreen;
    }

    nav.drop-down-menu > ul > li:hover > ul {
        position: absolute;
        float: right;
        left: 110px
    }




    table.owl-table, table.owl-table th, table.owl-table td {
        border: 5px solid black;
        border-collapse: collapse;
    }

    table.owl-table {
        position: static;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;
        width: 1170px;
    }

    div.omnipresent-sun {
        position: fixed;
        right: 0px;
        top: 0px;
    }

    div.fallen-owl {
        position: absolute;
        bottom: 3px;
        left: 3px;
    }

    div.sunny-companion {
        float: left;
    }

    div.flowery-companion {
        position: relative;
        top: 60px;
        left: 500px;
    }
    
    div.flowery {
        clear: left;
    }
}

@media print {
    body {
        background-color: white;
        color: black;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    /* Unsupported by firefox */
    @page :first {
        margin-left: 200px;
        margin-right: 200px;
    }
    input[type="checkbox"]:checked {
        box-shadow: 0 0 0 4px black;
    }
}
